@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #e8f1fd;
}
#root {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(144, 138, 138, 0.5);
  width: 100%;
  min-height: 100vh;
}
.myModal {
  border-radius: 12px;
  background: #f6faff;
  box-shadow: 0px 2px 8px 0px rgba(106, 108, 224, 0.26);
}
.myModal h1 {
  color: #30507d;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
